<!DOCTYPE html>
<html ng-app= "ListaTelefonica">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
.jumbotron {
margin-left: auto;
margin-right: auto;
margin-top: 10px;
width: 60%;
padding: 10px;
}
h3 {
text-align: center;
}
</style>
<script type="text/javascript" src="angular-1.5.8/angular.js"></script>
<script type="text/javascript" >

	var app = angular.module("ListaTelefonica", []);
	
	angular.module("ListaTelefonica").controller("ListaTelefonicaController",
			function($scope) {
				$scope.app = "Lista Telefonica";
				$scope.contatos = [
	                   {nome: "Pedro", telefone: "999999999"},
	                   {nome: "Maria", telefone: "999999913"},
	                   {nome: "João", telefone: "999999912"},
				 ];
			
			$scope.adicionarContato = function(contato) {
				$scope.contatos.push(contato);
				delete $scope.contato;
			};
	});
</script>

</head>
<body ng-controller="ListaTelefonicaController">
	<div class="jumbotron">
	<h3>{{app}}</h3>
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Telefone</th>
		</tr>
		<tr ng-repeat="contato in contatos">
			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>
		</tr>
	</table>
	<hr/>
		<input class="form-control" placeholder="Nome" type="text"
			ng-model="contato.nome"/> 
		<input class="form-control"
			placeholder="Telefone" type="text" ng-model="contato.telefone"/>
		<button class="btn btn-primary btn-block"
			ng-click="adicionarContato(contato)">Adicionar contato</button>
	</div>
</body>
</html>