<!DOCTYPE html>
<html ng-app= "ListaTelefonica">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
<style type="text/css">
.jumbotron {
margin-left: auto;
margin-right: auto;
margin-top: 10px;
width: 60%;
padding: 10px;
}
h3 {
text-align: center;
}
.selecionado {
background: yellow;
}
</style>
<script type="text/javascript" src="angular-1.5.8/angular.js"></script>
<script type="text/javascript" src="angular-1.5.8/angular-messages.js"></script>
<script type="text/javascript" src="angular-1.5.8/i18n/angular-locale_pt-br.js"></script>
<script type="text/javascript" >

	var app = angular.module("ListaTelefonica", ["ngMessages"]);
	
	angular.module("ListaTelefonica").controller("ListaTelefonicaController",
			function($scope, $filter) {
				$scope.app = "Lista Telefonica";
				$scope.contatos = [
	                   {nome: $filter("uppercase")("Pedro"), data: new Date(), telefone: "999999999", cor: "yellow"},
	                   {nome: "Maria", data: new Date(),telefone: "999999913", cor: "blue"},
	                   {nome: "João", data: new Date(), telefone: "999999912", cor: "green"}
				 ];
				$scope.operadoras = [
				                   {nome: "Oi", telefone: "14", preco:"1", categoria:"Celular"},
				                   {nome: "Vivo", telefone: "15", preco:"2", categoria:"Celular"},
				                   {nome: "Tim", telefone: "41", preco:"3", categoria:"Celular"},
				                   {nome: "GVT", telefone: "41", preco:"4", categoria:"Fixo"},
				                   {nome: "Tim", telefone: "41", preco:"5", categoria:"Celular"},
							 ];
			
			$scope.adicionarContato = function(contato) {
				$scope.contatos.push(contato);
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};		
			
			$scope.apagarContatos = function(contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if(!contato.selecionado) return contato;
				});
			}
			
			$scope.isContatoSelecionado = function(contatos) {
				return contatos.some(function(contato){
					return contato.selecionado
				});
			}

			$scope.ordernarPorCampo = function(campo) {
				$scope.ordernacao = campo;
				$scope.direcao = !$scope.direcao;
			}
			
			$scope.classe="selecionado"
			
	});
</script>

</head>
<body ng-controller="ListaTelefonicaController">
	<div class="jumbotron">
	<h3>{{app}}</h3>
	<input class="form-control" type="text" ng-model="criterioBusca" placeholder="O que você está buscando" />
	<table class="table table-striped">
		<tr >
			<th></th>
			<th><a ng-click="ordernarPorCampo('nome')">Nome</a></th>
			<th><a ng-click="ordernarPorCampo('telefone')">Telefone<a/></th>
			<th>Operadora</th>
			<th>Data</th>
			<th></th>
		</tr>
		<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:criterioBusca}  | limitTo:10 | orderBy:ordernacao:direcao">
		<!-- <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca"> -->
			<td><input type="checkbox" ng-model="contato.selecionado"></td>
			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome | lowercase}}</td>
			<td>{{contato.data | date:'EEEE, dd/MM/yyyy'}}</td>
			<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
		</tr>
	</table>
	<hr/>
	
	<!-- Formulários ---------------------------->
	<form name="contatoForm">
		<input class="form-control" placeholder="Nome" type="text"
			ng-model="contato.nome" ng-required="true" name="nome"  ng-minlength="10"/> 
		
			<input class="form-control"
			placeholder="Telefone" type="text" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
			<select  class="form-control" ng-model="contato.operadora" 
				ng-options="operadora.nome + ' (' + (operadora.preco | currency )+ ')'  for operadora in operadoras"> 
				<!-- ng-options="operadora.nome group by operadora.categoria for operadora in operadoras"> -->
				<!-- ng-options="operador.codigo as operadora.nome group by categoria for operadora in operadoras"> -->
				<option value="">Selecione uma operadora</option>
			</select>
	</form>	
	
	<!-- Validações ---------------------------->
	<div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$touched && contatoForm.nome.$invalid" class="alert alert-danger">
		<div ng-message="required">
			Preencha o nome
		</div>
		<div ng-message="minlength" >
			O nome deve ter no minimo 10 letras
		</div>
	</div>
	
	<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
		Preencha o telefone
	</div>
	<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
		formato do telefone é invalido
	</div>
		
	<!-- Botões de ação ---------------------------->	
		<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid"
			ng-click="adicionarContato(contato)" >Adicionar contato</button>
		
		<button class="btn btn-danger btn-block" 
		ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
	
		
		<!-- <button class="btn btn-danger btn-block" 
			ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button> -->
		
		
		<p>{{10 | number:2}}</p>
			
	</div>
	
	<!-- <div ng-include="'footer.html'"></div> -->
</body>
</html>